<a href="https://colab.research.google.com/github/arifanf/MSIB21/blob/main/D21_Data_Structure_and_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day21 - Selasa, 21 September 2021

In [ ]:
# 1. Membuat Tuple dan Cek typenya
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
type(fruits)

tuple

In [ ]:
fruits

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
len(fruits)

7

In [ ]:
# 2. Ambil item apple sebanyak 2, orange 1, mango 3
# Simpan dengan nama variable add
add = fruits[0],fruits[0],fruits[3],fruits[6],fruits[6],fruits[6]
add

('apple', 'apple', 'orange', 'mango', 'mango', 'mango')

In [ ]:
# 3. Buat variable new dengan berisi gabungkan variable add dengan variable fruits
# Urutkan isi variable new
new = fruits + add
sorted(new)

['apple',
 'apple',
 'apple',
 'banana',
 'cherry',
 'kiwi',
 'mango',
 'mango',
 'mango',
 'mango',
 'melon',
 'orange',
 'orange']

In [ ]:
# 4. Ubah variable new dari type data tuple menjadi set
# Tambahkan item pear
# Hitung jumlah itemnya
new = set(new)
new.add("pear")
print(new)
len(new)

{'cherry', 'pear', 'banana', 'mango', 'apple', 'orange', 'melon', 'kiwi'}

8

In [ ]:
new_fruits = frozenset(new)
new_fruits

frozenset({'apple',
           'banana',
           'cherry',
           'kiwi',
           'mango',
           'melon',
           'orange',
           'pear'})

In [ ]:
# 5. Buat variable cars dengan ketentuan
cars = {"Toyota Vios":270000000,
       "Toyota Yaris":235000000,
       "Honda Civic":400000000,
       "Nissan Skyline":690000000,
       "Honda City":312000000}
print(cars)
type(cars)

{'Toyota Vios': 270000000, 'Toyota Yaris': 235000000, 'Honda Civic': 400000000, 'Nissan Skyline': 690000000, 'Honda City': 312000000}

dict

In [ ]:
# 6. Tambahkan key dan value dibawah ini
# BMW M3:1900000000
# urutkan berdasarkan item
cars["BMW M3"]=1900000000
sorted(cars.items())

[('BMW M3', 1900000000),
 ('Honda City', 312000000),
 ('Honda Civic', 400000000),
 ('Nissan Skyline', 690000000),
 ('Toyota Vios', 270000000),
 ('Toyota Yaris', 235000000)]

In [ ]:
# 7. Ubah value Nissan Skyline menjadi 641000000
cars["Nissan Skyline"] = 641000000
cars

{'BMW M3': 1900000000,
 'Honda City': 312000000,
 'Honda Civic': 400000000,
 'Nissan Skyline': 641000000,
 'Toyota Vios': 270000000,
 'Toyota Yaris': 235000000}

In [ ]:
# 8. Ubah key Nissan Skyline menjadi Honda Accord
# Cara 1
cars["Honda Accord"] = cars.pop("Nissan Skyline")
cars

{'BMW M3': 1900000000,
 'Honda Accord': 641000000,
 'Honda City': 312000000,
 'Honda Civic': 400000000,
 'Toyota Vios': 270000000,
 'Toyota Yaris': 235000000}

In [ ]:
# 8. Ubah key Nissan Skyline menjadi Honda Accord
# Cara 2
#cars["Honda Accord"] = cars["Nissan Skyline"]
#del cars["Nissan Skyline"]
#cars

In [ ]:
# 9. Buat variable cars_set dengan type data set berisi value dari variable cars
# buat variable cars_total dengan berisi total dari seluruh item 
# cetak hasilnya
cars_set = set(cars.values())
cars_total = sum(cars_set)
cars_total

3758000000

In [ ]:
# 10. Tambahkan key Total pada variable cars dengan value cars_total
# cetak hasilnya
cars["Total"] = cars_total
cars

{'BMW M3': 1900000000,
 'Honda Accord': 641000000,
 'Honda City': 312000000,
 'Honda Civic': 400000000,
 'Total': 3758000000,
 'Toyota Vios': 270000000,
 'Toyota Yaris': 235000000}

# Conditional Test

A conditional test is an expression that can be evaluated as True or False. Python uses the values True and False to decide whether the code in an if statement should be executed.

```
# This is formatted as code
```

### Checking for equality 
A single equal sign assigns a value to a variable. A double equal sign (==) checks whether two values are equal.

In [ ]:
car = 'bmw' 
car == 'bmw'

True

### Ignoring case when making a comparison.

In [ ]:
car = 'Audi' 
car.lower() == 'audi'

True

### Checking for inequality

In [ ]:
topping = 'mushrooms' 
topping != 'anchovies'

True

# Numerical comparison

Testing numerical values is similar to testing string values.

### Testing equality and inequality

In [ ]:
age = 18 
age == 18

True

In [ ]:
age = 18 
age != 18

False

In [ ]:
age = 19 
age < 21

True

In [ ]:
age = 19 
age > 21

False

# Checking multiple conditions

You can check multiple conditions at the same time. The and operator returns True if all conditions listed are True. The or operator returns True if any condition is True

### Using 'and' to check multiple conditions

In [ ]:
age_0 = 22
age_1 = 18
age_0 >= 21 and age_1 >= 21

False

In [ ]:
age_0 = 22
age_1 = 23
age_0 >= 21 and age_1 >= 21

True

### Using 'or' to check multiple conditions

In [ ]:
age_0 = 22
age_1 = 18
age_0 >= 21 or age_1 >= 21

True

In [ ]:
age_0 = 18
age_1 = 18
age_0 >= 21 or age_1 >= 21

False

# if statements

Several kinds of if statements exist. Your choice of which to use depends on the number of conditions you need to test. You can have as many elif block as you need, and the else block is always optional

### Simple if statement

In [ ]:
age = 19

if age >= 18:
	print("You're old enough to vote!")

You're old enough to vote!

### if-else-statements

In [ ]:
age = 17

if age >= 18:
	print("You're old enough to vote!")
else:
	print("You can’t vote yet.")

You can’t vote yet.

# Conditional test with list

You can easily test whether a certain value is in a list. You can also test whether a list is empty before trying to loop through the list.

### Testing if a value is in a list

In [ ]:
players = ['al', 'bea', 'cyn', 'dale']
'al' in players

True

In [ ]:
players = ['al', 'bea', 'cyn', 'dale']
'eric' in players

False

### Conditional test with lists (cont.)

### Testing if a value is not in a list

In [ ]:
banned_users = ['ann', 'chad', 'dee'] 
user = 'erin' 

if user not in banned_users:     
    print("You can play!")

You can play!

### Checking if a list is empty

In [ ]:
players = [] 

if players:     
    for player in players:         
        print("Player: " + player.title()) 
else:     
        print("We have no players yet!")

We have no players yet!

# Accepting input

You can allow your users to enter input using the input() statement. In Python 3 all input is stored as a string

### Simple input

In [ ]:
name = input("What’s your name? ")
print("Hello, "+ name + ".")

What’s your name? ifa
Hello, ifa.

### Accepting numerical input

In [ ]:
age = input("How old are you? ")
age = int(age)

if age >= 18:
		print("\nYou can vote!")
else:
		print("\nYou can;t vote yet.")

How old are you? 20

You can vote!

# While loops

A while loop repeats a block of code as long as a condition is True

### Counting to 5

current_number = 1 

while current_number <= 5:
    print(current_number)     
current_number += 1

### Letting the user choose when to quit

In [ ]:
prompt = "\nTell me something, and I’ll "
prompt += "\repeat it back to you. "
prompt += "\nEnter ‘quit’ to end the program."

message = ""
while message != 'quit':
    message = input(prompt)

if message != 'quit':
    print(message)

epeat it back to you.
Enter ‘quit’ to end the program.quit

### Using a flag

In [ ]:
prompt = "\nTell me something, and I’ll "
prompt += "\repeat it back to you. "
prompt += "\nEnter ‘quit’ to end the program."

active = True
while active:
    message = input(prompt)
    
    if message == 'quit':
        active = False
    else:
        print(message)

epeat it back to you.
Enter ‘quit’ to end the program.yeh
yeh

epeat it back to you.
Enter ‘quit’ to end the program.quit

### Using break to exit a loop

In [ ]:
prompt = "\nWhat cities have you visited"
prompt += "\nEnter ‘quit’ when you’re done. "

while True:
    city = input(prompt)

    if city == 'quit':
        break 
    else:
        print("I’ve been to " + city + "!")

What cities have you visited
Enter ‘quit’ when you’re done. semarang
I’ve been to semarang!

What cities have you visited
Enter ‘quit’ when you’re done. exit
I’ve been to exit!

What cities have you visited
Enter ‘quit’ when you’re done. quit

# Thank You